<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{950,694}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,694}}</string>
                <key>sourceSize</key>
                <string>{950,694}</string>
            </dict>
            <key>bg_window_3_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{529,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,608}}</string>
                <key>sourceSize</key>
                <string>{529,608}</string>
            </dict>
            <key>bg_window_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,528},{687,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,476}}</string>
                <key>sourceSize</key>
                <string>{687,476}</string>
            </dict>
            <key>bg_window_xiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,698},{687,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,476}}</string>
                <key>sourceSize</key>
                <string>{687,476}</string>
            </dict>
            <key>bg_window_xiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{942,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{942,524}}</string>
                <key>sourceSize</key>
                <string>{942,524}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shared_images_common.pvr.ccz</string>
            <key>size</key>
            <string>{1911,1308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2831e90f73470f4160a4f211c54f49f6:1/1$</string>
            <key>textureFileName</key>
            <string>shared_images_common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
