<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{142,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>scatter_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>specialsymbolframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{135,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,139}}</string>
                <key>sourceSize</key>
                <string>{135,139}</string>
            </dict>
            <key>symbol10_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{87,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,136}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>symbol1_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{137,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,140}}</string>
                <key>sourceSize</key>
                <string>{137,140}</string>
            </dict>
            <key>symbol2_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{137,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,149}}</string>
                <key>sourceSize</key>
                <string>{137,149}</string>
            </dict>
            <key>symbol3_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,156}}</string>
                <key>sourceSize</key>
                <string>{137,156}</string>
            </dict>
            <key>symbol4_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{138,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,152}}</string>
                <key>sourceSize</key>
                <string>{138,152}</string>
            </dict>
            <key>symbol5_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,2},{137,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,105}}</string>
                <key>sourceSize</key>
                <string>{137,105}</string>
            </dict>
            <key>symbol6_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,2},{150,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,135}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>symbol7_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{134,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{134,140}</string>
            </dict>
            <key>symbol8_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,109},{111,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,130}}</string>
                <key>sourceSize</key>
                <string>{119,130}</string>
            </dict>
            <key>symbol9_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{80,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,140}}</string>
                <key>sourceSize</key>
                <string>{80,140}</string>
            </dict>
            <key>wild1_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,2},{113,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,136}}</string>
                <key>sourceSize</key>
                <string>{113,136}</string>
            </dict>
            <key>wild2_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,109},{113,130}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,136}</string>
            </dict>
            <key>wild_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{139,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,149}}</string>
                <key>sourceSize</key>
                <string>{139,149}</string>
            </dict>
            <key>wildnumberframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>wildtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{144,48}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{144,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_egypt_images_symbols.pvr.ccz</string>
            <key>size</key>
            <string>{1935,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dbaea33d3b2d1063df822e7d5a5f541:1/1$</string>
            <key>textureFileName</key>
            <string>slots_egypt_images_symbols.pvr.ccz</string>
        </dict>
    </dict>
</plist>
