<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maya_kuang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,362},{289,116}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{289,116}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,246},{289,116}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{289,116}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,126},{289,118}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{289,118}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,124},{291,118}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{291,118}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{295,122}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{295,122}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{297,120}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{297,120}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{299,118}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{299,118}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{303,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{303,118}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{303,120}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{299,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{299,116}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,244},{291,116}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{291,116}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>maya_kuang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,364},{289,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{289,114}}</string>
                <key>sourceSize</key>
                <string>{325,128}</string>
            </dict>
            <key>penhuo_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,54},{44,38}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,54},{44,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,2},{64,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{64,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,188},{82,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{82,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,120},{88,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{88,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,250},{96,72}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{96,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,408},{100,76}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{100,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,396},{104,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{104,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,324},{106,82}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{106,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,306},{106,88}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{106,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,214},{110,90}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{110,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,120},{114,92}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{114,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>penhuo_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{122,116}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_maya_frame.pvr.ccz</string>
            <key>size</key>
            <string>{1109,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f54e9165aea1d99c265c45ff669f5ba5:1/1$</string>
            <key>textureFileName</key>
            <string>slots_maya_frame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
