<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>multiple10_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1553},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,30}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>multiple10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1463},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>multiple1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1487},{45,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{45,32}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>multiple1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1463},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>multiple2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1523},{47,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{47,32}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>multiple2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1463},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>multiple3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1499},{47,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{47,32}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>multiple3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1447},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>multiple4_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1503},{42,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,28}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>multiple4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1463},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>multiple5_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1499},{47,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{47,32}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>multiple5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1407},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>multiple6_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1521},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,30}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>multiple6_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1487},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>multiple_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1407},{226,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,54}}</string>
                <key>sourceSize</key>
                <string>{226,54}</string>
            </dict>
            <key>slots_background_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>slots_frame_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1114,633}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1114,633}}</string>
                <key>sourceSize</key>
                <string>{1114,633}</string>
            </dict>
            <key>slots_symbolframe_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1407},{820,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,488}}</string>
                <key>sourceSize</key>
                <string>{820,488}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_maya_images_machine.pvr.ccz</string>
            <key>size</key>
            <string>{1140,1897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:917b4dba7372fd4a29a13001de33ed72:1/1$</string>
            <key>textureFileName</key>
            <string>slots_maya_images_machine.pvr.ccz</string>
        </dict>
    </dict>
</plist>
