<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cowboywild_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cowboywild_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cowboywild_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cowboywild_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cowboywild_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{256,250}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cowboywild_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{216,202}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{216,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cowboywild_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{188,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cowboywild_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{146,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{146,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_wildwest_frame.pvr.ccz</string>
            <key>size</key>
            <string>{1848,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6e862987a70ee19a41cba5f936d0663:1/1$</string>
            <key>textureFileName</key>
            <string>slots_wildwest_frame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
