<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{146,150}</string>
            </dict>
            <key>scatter_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>symbol10_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,2},{130,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,116}}</string>
                <key>sourceSize</key>
                <string>{130,116}</string>
            </dict>
            <key>symbol1_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,154}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>symbol2_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{141,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,145}}</string>
                <key>sourceSize</key>
                <string>{141,145}</string>
            </dict>
            <key>symbol3_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>symbol4_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,2},{140,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>symbol5_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,2},{137,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,124}}</string>
                <key>sourceSize</key>
                <string>{137,124}</string>
            </dict>
            <key>symbol6_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,2},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>symbol7_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>symbol8_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{105,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,142}}</string>
                <key>sourceSize</key>
                <string>{105,142}</string>
            </dict>
            <key>symbol9_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{79,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,130}}</string>
                <key>sourceSize</key>
                <string>{79,130}</string>
            </dict>
            <key>wild2_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>wild_cowboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_wildwest_images_symbols.pvr.ccz</string>
            <key>size</key>
            <string>{1850,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b6e634aefb2e05eb4eb05005a95258f:1/1$</string>
            <key>textureFileName</key>
            <string>slots_wildwest_images_symbols.pvr.ccz</string>
        </dict>
    </dict>
</plist>
