<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bonus_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>bouns_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,466},{110,106}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,114},{110,106}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,706},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,354},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{346,350}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,354},{340,348}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{340,348}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,704},{318,326}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{318,326}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,772},{272,292}}</string>
                <key>offset</key>
                <string>{-26,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,44},{272,292}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{214,202}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,44},{214,202}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,832},{182,202}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,46},{182,202}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,832},{186,188}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,50},{186,188}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,832},{178,172}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,66},{178,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>bouns_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,704},{120,162}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,69},{120,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>chest_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,354},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>chestopen_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,868},{131,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,142}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>titletext_bonus_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{822,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,58}}</string>
                <key>sourceSize</key>
                <string>{822,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_pirate_images_bonus.pvr.ccz</string>
            <key>size</key>
            <string>{1951,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e6411b896c84c8e406bd8a5c1b55a8:1/1$</string>
            <key>textureFileName</key>
            <string>slots_pirate_images_bonus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
