<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,254},{136,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{136,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>scatter_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,127},{148,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>symbol10_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,381},{120,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{120,91}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>symbol1_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{150,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{150,123}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>symbol2_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>symbol3_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{148,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,123}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>symbol4_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,381},{118,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{118,85}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>symbol5_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,254},{96,99}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{96,99}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>symbol6_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,355},{90,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{90,97}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>symbol7_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{86,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,11},{86,103}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>symbol8_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,254},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{96,95}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>symbol9_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,365},{76,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,12},{76,103}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>wild_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{146,361}}</string>
                <key>sourceSize</key>
                <string>{160,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_pirate_images_symbols.pvr.ccz</string>
            <key>size</key>
            <string>{502,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aeaee058f6a510c6aff6bb4c795a217:1/1$</string>
            <key>textureFileName</key>
            <string>slots_pirate_images_symbols.pvr.ccz</string>
        </dict>
    </dict>
</plist>
