<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigjoker_slots_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1523},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,118}}</string>
                <key>sourceSize</key>
                <string>{86,120}</string>
            </dict>
            <key>btn_doubleblack_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1297},{205,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,104}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>btn_doubleblack_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1665},{203,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{203,102}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>btn_doublefangkuai_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1606},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>btn_doublefangkuai_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1499},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>btn_doublehua_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1392},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>btn_doublehua_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1285},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>btn_doubleju_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1275},{428,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,94}}</string>
                <key>sourceSize</key>
                <string>{428,94}</string>
            </dict>
            <key>btn_doubleju_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1371},{420,92}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,92}}</string>
                <key>sourceSize</key>
                <string>{428,94}</string>
            </dict>
            <key>btn_doublelan_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1085},{472,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,94}}</string>
                <key>sourceSize</key>
                <string>{472,94}</string>
            </dict>
            <key>btn_doublelan_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1181},{462,92}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{462,92}}</string>
                <key>sourceSize</key>
                <string>{472,94}</string>
            </dict>
            <key>btn_doublered_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1191},{205,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,104}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>btn_doublered_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1085},{205,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,104}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>btn_doubletao_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1643},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>btn_doubletao_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1617},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>btn_doublexin_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1510},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>btn_doublexin_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1403},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>club.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1085},{143,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,198}}</string>
                <key>sourceSize</key>
                <string>{143,198}</string>
            </dict>
            <key>diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1465},{143,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,198}}</string>
                <key>sourceSize</key>
                <string>{143,198}</string>
            </dict>
            <key>double_beij_pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1085},{275,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,372}}</string>
                <key>sourceSize</key>
                <string>{275,372}</string>
            </dict>
            <key>double_beijing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>double_beijing_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{1136,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,126}}</string>
                <key>sourceSize</key>
                <string>{1136,126}</string>
            </dict>
            <key>double_beijing_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1131,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1131,183}}</string>
                <key>sourceSize</key>
                <string>{1131,183}</string>
            </dict>
            <key>double_poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1459},{193,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,271}}</string>
                <key>sourceSize</key>
                <string>{193,271}</string>
            </dict>
            <key>double_poker_backs.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1465},{152,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,210}}</string>
                <key>sourceSize</key>
                <string>{152,210}</string>
            </dict>
            <key>double_zi_current coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1665},{202,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,27}}</string>
                <key>sourceSize</key>
                <string>{202,27}</string>
            </dict>
            <key>double_zi_win coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{153,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,27}}</string>
                <key>sourceSize</key>
                <string>{153,27}</string>
            </dict>
            <key>hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1465},{143,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,198}}</string>
                <key>sourceSize</key>
                <string>{143,198}</string>
            </dict>
            <key>littlejoker_slots_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1403},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,118}}</string>
                <key>sourceSize</key>
                <string>{86,120}</string>
            </dict>
            <key>spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1465},{143,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,198}}</string>
                <key>sourceSize</key>
                <string>{143,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_double.pvr.ccz</string>
            <key>size</key>
            <string>{1140,1769}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13e065492492e06d6d63b4152ab06027:1/1$</string>
            <key>textureFileName</key>
            <string>hk_double.pvr.ccz</string>
        </dict>
    </dict>
</plist>
