<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WildWest01.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1542},{305,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,260}}</string>
                <key>sourceSize</key>
                <string>{305,260}</string>
            </dict>
            <key>WildWest02.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,772},{569,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,768}}</string>
                <key>sourceSize</key>
                <string>{569,768}</string>
            </dict>
            <key>maya01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{572,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,768}}</string>
                <key>sourceSize</key>
                <string>{572,768}</string>
            </dict>
            <key>maya02.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1542},{469,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,318}}</string>
                <key>sourceSize</key>
                <string>{469,318}</string>
            </dict>
            <key>maya03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{363,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,337}}</string>
                <key>sourceSize</key>
                <string>{363,337}</string>
            </dict>
            <key>slots_anim_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1082,768}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{1082,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_anim_cloud.pvr.ccz</string>
            <key>size</key>
            <string>{1147,1881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbdb2c29465ee95659e66d9b6dee6b8f:1/1$</string>
            <key>textureFileName</key>
            <string>slots_anim_cloud.pvr.ccz</string>
        </dict>
    </dict>
</plist>
