<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>freespin_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1140},{814,304}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,236},{814,304}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>freespin_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,652},{722,598}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,94},{722,598}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>freespin_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{458,730}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,25},{458,730}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>freespin_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,732}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,17},{272,732}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>freespin_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{534,648}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,55},{534,648}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>freespin_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,202},{988,424}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,166},{988,424}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>freespin_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{1136,198}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,283},{1136,198}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>freespin_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1252},{758,254}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,2},{758,254}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>freespin_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,628},{856,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{856,254}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>freespin_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,884},{850,254}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{850,254}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_frame1.pvr.ccz</string>
            <key>size</key>
            <string>{2044,1518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49c91e42dd9d0c6436bef9a5417e82a9:1/1$</string>
            <key>textureFileName</key>
            <string>slots_frame1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
