<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bouns_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,563},{406,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,60}}</string>
                <key>sourceSize</key>
                <string>{406,60}</string>
            </dict>
            <key>coin_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,625},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>frame_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>gem_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,563},{37,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,53}}</string>
                <key>sourceSize</key>
                <string>{37,53}</string>
            </dict>
            <key>gem_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,625},{27,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{27,30}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>line_element.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,657},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>popup_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,625},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>ptguankatb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{944,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{944,559}}</string>
                <key>sourceSize</key>
                <string>{944,559}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.pvr.ccz</string>
            <key>size</key>
            <string>{948,679}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f45ec7749a9547fc3401790f7b668c3:1/1$</string>
            <key>textureFileName</key>
            <string>common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
