<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,332},{810,326}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{810,326}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>12_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1326},{810,168}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{810,168}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>14_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1156},{810,168}}</string>
                <key>offset</key>
                <string>{0,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{810,168}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>16_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{810,328}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{810,328}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>18_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1664},{810,166}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{810,166}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1832},{810,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,230},{810,8}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>20_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{810,334}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{810,334}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>22_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{810,324}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{810,324}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>24_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1326},{810,324}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{810,324}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>26_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{810,330}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{810,330}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>28_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{810,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{810,328}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>30_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,660},{810,324}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{810,324}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>4_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{810,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{810,324}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>6_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,986},{810,168}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{810,168}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
            <key>8_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1496},{810,166}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{810,166}}</string>
                <key>sourceSize</key>
                <string>{810,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>linse_35.pvr.ccz</string>
            <key>size</key>
            <string>{1627,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e86beaff2b18a3c79aea3c2ff071698:1/1$</string>
            <key>textureFileName</key>
            <string>linse_35.pvr.ccz</string>
        </dict>
    </dict>
</plist>
