<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>freespin_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{830,254}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{830,254}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>freespin_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{796,254}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{796,254}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>freespin_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{810,252}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{810,252}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>freespin_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{788,252}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{788,252}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>freespin_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,882},{752,252}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,4},{752,252}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>freespin_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1646},{754,254}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,2},{754,254}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>freespin_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1136},{742,252}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,4},{742,252}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>freespin_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1390},{734,254}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,2},{734,254}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>freespin_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,648},{704,232}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,3},{704,232}}</string>
                <key>sourceSize</key>
                <string>{858,256}</string>
            </dict>
            <key>ofakind_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{512,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{512,214}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ofakind_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,432},{512,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{512,214}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ofakind_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,432},{512,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{512,214}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ofakind_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{512,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{512,214}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ofakind_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,216},{512,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{512,214}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ofakind_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,208}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{512,208}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ofakind_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{512,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{512,212}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ofakind_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,212}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{512,212}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ofakind_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,216},{512,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{512,214}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ofakind_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{512,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{512,214}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_frame2.pvr.ccz</string>
            <key>size</key>
            <string>{1570,1902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3cd1129add3341f4eaed3c33e7da008:1/1$</string>
            <key>textureFileName</key>
            <string>slots_frame2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
