<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1710},{300,296}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kuang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1598},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kuang_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1408},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kuang_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kuang_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1296},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kuang_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1106},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kuang_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kuang_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,994},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kuang_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,454},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,312},{26,24}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,280},{26,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{166,92}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,246},{166,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1900},{238,120}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,234},{238,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,312},{262,140}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,223},{262,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,160},{278,150}}</string>
                <key>offset</key>
                <string>{10,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,216},{278,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{290,156}}</string>
                <key>offset</key>
                <string>{13,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,212},{290,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{300,164}}</string>
                <key>offset</key>
                <string>{15,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,206},{300,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,756},{306,170}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,201},{306,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,928},{312,176}}</string>
                <key>offset</key>
                <string>{21,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,195},{312,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{316,182}}</string>
                <key>offset</key>
                <string>{24,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,189},{316,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{316,184}}</string>
                <key>offset</key>
                <string>{27,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,186},{316,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,802},{322,190}}</string>
                <key>offset</key>
                <string>{30,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,181},{322,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{326,188}}</string>
                <key>offset</key>
                <string>{33,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,178},{326,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,608},{330,192}}</string>
                <key>offset</key>
                <string>{35,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,173},{330,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,414},{334,192}}</string>
                <key>offset</key>
                <string>{38,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,171},{334,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{340,198}}</string>
                <key>offset</key>
                <string>{40,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,168},{340,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{340,200}}</string>
                <key>offset</key>
                <string>{41,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,164},{340,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,210},{340,202}}</string>
                <key>offset</key>
                <string>{43,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,160},{340,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{342,206}}</string>
                <key>offset</key>
                <string>{45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,156},{342,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yan_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,208}}</string>
                <key>offset</key>
                <string>{46,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,154},{344,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_frame.pvr.ccz</string>
            <key>size</key>
            <string>{984,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa0cb87b9bcdf63817bc51c8e84a26e0:1/1$</string>
            <key>textureFileName</key>
            <string>slots_frame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
