<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,881},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,647},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,582},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,772},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,772},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,300},{105,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,343}}</string>
                <key>sourceSize</key>
                <string>{105,343}</string>
            </dict>
            <key>flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,743},{195,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,136}}</string>
                <key>sourceSize</key>
                <string>{195,136}</string>
            </dict>
            <key>flower1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2},{178,180}}</string>
                <key>offset</key>
                <string>{-8,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,116},{178,180}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,339},{204,252}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{204,252}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{218,296}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{218,296}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,300},{214,296}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{214,296}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{210,290}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{210,290}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,598},{210,252}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{210,252}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{210,250}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{210,250}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,772},{206,248}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{206,248}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,772},{192,240}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{192,240}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,772},{192,222}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{192,222}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,645},{158,206}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{158,206}}</string>
                <key>sourceSize</key>
                <string>{220,300}</string>
            </dict>
            <key>flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,853},{157,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,129}}</string>
                <key>sourceSize</key>
                <string>{157,129}</string>
            </dict>
            <key>flower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,772},{219,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,168}}</string>
                <key>sourceSize</key>
                <string>{219,168}</string>
            </dict>
            <key>flower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,852},{211,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,114}}</string>
                <key>sourceSize</key>
                <string>{211,114}</string>
            </dict>
            <key>flower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,184},{178,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,153}}</string>
                <key>sourceSize</key>
                <string>{178,153}</string>
            </dict>
            <key>flowerbud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,881},{73,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,97}}</string>
                <key>sourceSize</key>
                <string>{73,97}</string>
            </dict>
            <key>flowerbud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,339},{81,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,129}}</string>
                <key>sourceSize</key>
                <string>{81,129}</string>
            </dict>
            <key>flowerbud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,470},{71,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,110}}</string>
                <key>sourceSize</key>
                <string>{71,110}</string>
            </dict>
            <key>flowerbud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,852},{94,94}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>flowerbud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,881},{109,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,127}}</string>
                <key>sourceSize</key>
                <string>{109,129}</string>
            </dict>
            <key>flowerqueen_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>piranha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,593},{183,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,148}}</string>
                <key>sourceSize</key>
                <string>{183,148}</string>
            </dict>
            <key>runod.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,968},{109,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,41}}</string>
                <key>sourceSize</key>
                <string>{109,41}</string>
            </dict>
            <key>totalwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,942},{212,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,45}}</string>
                <key>sourceSize</key>
                <string>{212,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_flowerqueen_images_bonus.pvr.ccz</string>
            <key>size</key>
            <string>{1752,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ae65e3b089d070cf3e30d9311e96bda:1/1$</string>
            <key>textureFileName</key>
            <string>slots_flowerqueen_images_bonus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
