<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0ff_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,1364},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>ad1_pg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{939,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{939,595}}</string>
                <key>sourceSize</key>
                <string>{939,595}</string>
            </dict>
            <key>baijian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,1511},{222,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,164}}</string>
                <key>sourceSize</key>
                <string>{222,164}</string>
            </dict>
            <key>baijian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1275},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>bnt_adbuy_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1196},{334,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,111}}</string>
                <key>sourceSize</key>
                <string>{334,111}</string>
            </dict>
            <key>bnt_adbuy_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1325},{334,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,111}}</string>
                <key>sourceSize</key>
                <string>{334,111}</string>
            </dict>
            <key>bnt_adbuy_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1352},{314,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{314,105}}</string>
                <key>sourceSize</key>
                <string>{334,111}</string>
            </dict>
            <key>btn_guanggao_da_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1274},{344,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,76}}</string>
                <key>sourceSize</key>
                <string>{344,76}</string>
            </dict>
            <key>btn_guanggao_da_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1196},{344,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,76}}</string>
                <key>sourceSize</key>
                <string>{344,76}</string>
            </dict>
            <key>btn_guanggao_xiao_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{244,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,90}}</string>
                <key>sourceSize</key>
                <string>{244,90}</string>
            </dict>
            <key>btn_guanggao_xiao_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1404},{244,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,90}}</string>
                <key>sourceSize</key>
                <string>{244,90}</string>
            </dict>
            <key>btn_pageindacator_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1196},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>btn_pageindacator_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1342},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>endssoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{136,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,127}}</string>
                <key>sourceSize</key>
                <string>{136,127}</string>
            </dict>
            <key>gem_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{939,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{939,595}}</string>
                <key>sourceSize</key>
                <string>{939,595}</string>
            </dict>
            <key>gem_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1477},{364,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,165}}</string>
                <key>sourceSize</key>
                <string>{364,165}</string>
            </dict>
            <key>inform_pg.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,599},{909,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{909,568}}</string>
                <key>sourceSize</key>
                <string>{909,568}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1530},{216,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,89}}</string>
                <key>sourceSize</key>
                <string>{216,89}</string>
            </dict>
            <key>left_gembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1644},{270,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,67}}</string>
                <key>sourceSize</key>
                <string>{270,67}</string>
            </dict>
            <key>left_test.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,1477},{226,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{226,32}}</string>
                <key>sourceSize</key>
                <string>{228,34}</string>
            </dict>
            <key>niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1169},{341,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,548}}</string>
                <key>sourceSize</key>
                <string>{341,548}</string>
            </dict>
            <key>nps_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{939,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{939,595}}</string>
                <key>sourceSize</key>
                <string>{939,595}</string>
            </dict>
            <key>nps_timefram.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1228},{565,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,134}}</string>
                <key>sourceSize</key>
                <string>{565,134}</string>
            </dict>
            <key>nps_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1364},{546,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,111}}</string>
                <key>sourceSize</key>
                <string>{546,111}</string>
            </dict>
            <key>off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1677},{75,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,37}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1643},{186,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,48}}</string>
                <key>sourceSize</key>
                <string>{186,48}</string>
            </dict>
            <key>ringht_gembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{178,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,111}}</string>
                <key>sourceSize</key>
                <string>{178,111}</string>
            </dict>
            <key>sharemegawins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1169},{596,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,57}}</string>
                <key>sourceSize</key>
                <string>{596,57}</string>
            </dict>
            <key>test1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1352},{137,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,50}}</string>
                <key>sourceSize</key>
                <string>{137,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ad.pvr.ccz</string>
            <key>size</key>
            <string>{1884,1719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc247d6b215dc41265ce2157c3919dd9:1/1$</string>
            <key>textureFileName</key>
            <string>ad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
