<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_spin_199_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,868},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,112}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>btn_spin_199_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,902},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,112}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>btn_spin_199_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,868},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{110,110}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>btn_spin_bingwell_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,902},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>btn_spin_bingwell_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1124},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>btn_spin_bingwell_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,902},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{114,114}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>btn_vip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1286},{173,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,31}}</string>
                <key>sourceSize</key>
                <string>{173,31}</string>
            </dict>
            <key>btn_vip_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,894},{103,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,80}}</string>
                <key>sourceSize</key>
                <string>{103,80}</string>
            </dict>
            <key>dazhuanlun_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{205,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,168}}</string>
                <key>sourceSize</key>
                <string>{205,168}</string>
            </dict>
            <key>frame_lighe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{508,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,508}}</string>
                <key>sourceSize</key>
                <string>{508,508}</string>
            </dict>
            <key>indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1124},{70,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,138}}</string>
                <key>sourceSize</key>
                <string>{70,138}</string>
            </dict>
            <key>indicator_pan.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1264},{48,48}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{48,48}}</string>
                <key>sourceSize</key>
                <string>{70,138}</string>
            </dict>
            <key>lighe.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1124},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>luckywheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1068},{214,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,232}}</string>
                <key>sourceSize</key>
                <string>{214,232}</string>
            </dict>
            <key>pg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{932,610}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,85},{932,610}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>turnpate_num (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{966,568},{334,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,332}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>turnpate_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{334,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,332}}</string>
                <key>sourceSize</key>
                <string>{334,332}</string>
            </dict>
            <key>turnplate_pg.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,614},{452,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{452,452}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
            <key>win_lizi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,534},{210,292}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,8},{210,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>win_lizi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,894},{254,294}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{254,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>win_lizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{254,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{254,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>win_lizi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,980},{244,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>win_lizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,2},{244,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>win_lizi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1016},{260,300}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{260,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>win_lizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1020},{260,300}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{260,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>win_lizi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,566},{258,300}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{258,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>win_lizi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{262,300}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{262,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>win_lizi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,598},{270,294}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{270,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>win_lizi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,304},{266,292}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{266,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>x10_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,336},{230,230}}</string>
                <key>offset</key>
                <string>{-112,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{230,230}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
            <key>x2_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1068},{230,230}}</string>
                <key>offset</key>
                <string>{111,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,1},{230,230}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
            <key>x3_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,304},{230,228}}</string>
                <key>offset</key>
                <string>{111,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,225},{230,228}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
            <key>x5_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,336},{230,228}}</string>
                <key>offset</key>
                <string>{-112,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,225},{230,228}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_bigwheel.pvr.ccz</string>
            <key>size</key>
            <string>{2047,1322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0458dcb41d93e7c2abbaaba0423e308c:1/1$</string>
            <key>textureFileName</key>
            <string>hk_bigwheel.pvr.ccz</string>
        </dict>
    </dict>
</plist>
