<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_meilj_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{330,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,60}}</string>
                <key>sourceSize</key>
                <string>{330,60}</string>
            </dict>
            <key>btn_meilj_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,64},{318,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{318,58}}</string>
                <key>sourceSize</key>
                <string>{330,60}</string>
            </dict>
            <key>day1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,238},{60,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>day2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>day3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>day4.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>day5.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>day6.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>day7.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>lq_day1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,463},{60,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>lq_day2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>lq_day3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>lq_day4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>lq_day5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>lq_day6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>lq_day7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>meilj_1_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,306},{121,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,180}}</string>
                <key>sourceSize</key>
                <string>{121,180}</string>
            </dict>
            <key>meilj_1_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,124},{121,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,180}}</string>
                <key>sourceSize</key>
                <string>{121,180}</string>
            </dict>
            <key>meilj_1_zhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,306},{121,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,180}}</string>
                <key>sourceSize</key>
                <string>{121,180}</string>
            </dict>
            <key>meilj_23456_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,306},{121,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,180}}</string>
                <key>sourceSize</key>
                <string>{121,180}</string>
            </dict>
            <key>meilj_23456_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,124},{121,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,180}}</string>
                <key>sourceSize</key>
                <string>{121,180}</string>
            </dict>
            <key>meilj_23456_zhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,124},{121,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,180}}</string>
                <key>sourceSize</key>
                <string>{121,180}</string>
            </dict>
            <key>meilj_7_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,184},{107,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,180}}</string>
                <key>sourceSize</key>
                <string>{121,180}</string>
            </dict>
            <key>meilj_7_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,2},{107,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,180}}</string>
                <key>sourceSize</key>
                <string>{121,180}</string>
            </dict>
            <key>meilj_7_zhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{107,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,180}}</string>
                <key>sourceSize</key>
                <string>{121,180}</string>
            </dict>
            <key>meilj_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{837,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,473}}</string>
                <key>sourceSize</key>
                <string>{837,473}</string>
            </dict>
            <key>meilj_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,366},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>meilj_huangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,184},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_dailybonus.pvr.ccz</string>
            <key>size</key>
            <string>{1428,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deae0b6cafe889da55ab3ea0b5479d24:1/1$</string>
            <key>textureFileName</key>
            <string>hk_dailybonus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
