<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_lwcollect_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1729},{182,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,83}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>btn_lwcollect_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1814},{176,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,81}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>btn_lwface_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,1699},{183,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{183,56}}</string>
                <key>sourceSize</key>
                <string>{183,60}</string>
            </dict>
            <key>btn_lwface_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1849},{183,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{183,56}}</string>
                <key>sourceSize</key>
                <string>{183,60}</string>
            </dict>
            <key>btn_lwhaoyou_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1832},{208,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,83}}</string>
                <key>sourceSize</key>
                <string>{208,83}</string>
            </dict>
            <key>btn_lwhaoyou_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1646},{200,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{200,81}}</string>
                <key>sourceSize</key>
                <string>{208,83}</string>
            </dict>
            <key>btn_lwsend1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,1658},{296,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,87}}</string>
                <key>sourceSize</key>
                <string>{296,87}</string>
            </dict>
            <key>btn_lwsend1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,1569},{296,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,87}}</string>
                <key>sourceSize</key>
                <string>{296,87}</string>
            </dict>
            <key>btn_lwsend_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,1747},{208,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,83}}</string>
                <key>sourceSize</key>
                <string>{208,83}</string>
            </dict>
            <key>btn_lwsend_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1563},{200,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{200,81}}</string>
                <key>sourceSize</key>
                <string>{208,83}</string>
            </dict>
            <key>liwu_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,688},{940,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{940,684}}</string>
                <key>sourceSize</key>
                <string>{940,684}</string>
            </dict>
            <key>liwu_b2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1468},{440,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,93}}</string>
                <key>sourceSize</key>
                <string>{440,93}</string>
            </dict>
            <key>liwu_bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{940,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{940,684}}</string>
                <key>sourceSize</key>
                <string>{940,684}</string>
            </dict>
            <key>liwu_bj1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1374},{440,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,93}}</string>
                <key>sourceSize</key>
                <string>{440,93}</string>
            </dict>
            <key>liwu_bj_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{950,698}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,698}}</string>
                <key>sourceSize</key>
                <string>{950,698}</string>
            </dict>
            <key>liwu_bjt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{918,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,88}}</string>
                <key>sourceSize</key>
                <string>{918,88}</string>
            </dict>
            <key>liwu_shou_bjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{865,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{865,108}}</string>
                <key>sourceSize</key>
                <string>{865,108}</string>
            </dict>
            <key>liwu_shou_jinb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1747},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>liwu_shou_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1374},{472,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,92}}</string>
                <key>sourceSize</key>
                <string>{472,92}</string>
            </dict>
            <key>liwu_shou_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,1569},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>liwu_song_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1374},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>liwu_song_haoyou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1469},{394,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,98}}</string>
                <key>sourceSize</key>
                <string>{394,98}</string>
            </dict>
            <key>liwu_song_jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1639},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>liwu_song_jb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1563},{288,284}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{288,284}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>liwu_song_no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{710,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,35}}</string>
                <key>sourceSize</key>
                <string>{710,35}</string>
            </dict>
            <key>liwu_song_zs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1639},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>liwu_song_zs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1639},{287,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{287,287}}</string>
                <key>sourceSize</key>
                <string>{301,301}</string>
            </dict>
            <key>liwu_xianren_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1492},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>liwu_xianren_all2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1602},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{35,35}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>liwu_xuanren_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{973,698}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{973,698}}</string>
                <key>sourceSize</key>
                <string>{973,698}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_gifts.pvr.ccz</string>
            <key>size</key>
            <string>{1919,1929}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ad63ac40aa7c356a65f7468456df332:1/1$</string>
            <key>textureFileName</key>
            <string>hk_gifts.pvr.ccz</string>
        </dict>
    </dict>
</plist>
