<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_buybb_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{487,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,73}}</string>
                <key>sourceSize</key>
                <string>{487,73}</string>
            </dict>
            <key>btn_buybb_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,908},{479,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{479,71}}</string>
                <key>sourceSize</key>
                <string>{487,73}</string>
            </dict>
            <key>buy_biaot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{459,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,22}}</string>
                <key>sourceSize</key>
                <string>{459,22}</string>
            </dict>
            <key>buy_daojishi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,824},{122,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,82}}</string>
                <key>sourceSize</key>
                <string>{122,82}</string>
            </dict>
            <key>buy_jiangjia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,883},{107,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,23}}</string>
                <key>sourceSize</key>
                <string>{107,23}</string>
            </dict>
            <key>buy_jinbi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,743},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>buy_limited_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,908},{119,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,82}}</string>
                <key>sourceSize</key>
                <string>{119,82}</string>
            </dict>
            <key>buy_tiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{909,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{909,66}}</string>
                <key>sourceSize</key>
                <string>{909,66}</string>
            </dict>
            <key>buy_tkbeijing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1103,739}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1103,739}}</string>
                <key>sourceSize</key>
                <string>{1103,739}</string>
            </dict>
            <key>buy_xuanzhong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,824},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>buy_xuanzhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,743},{138,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,79}}</string>
                <key>sourceSize</key>
                <string>{138,79}</string>
            </dict>
            <key>buy_xuanzhong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{913,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{913,70}}</string>
                <key>sourceSize</key>
                <string>{913,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_lobby_shop.pvr.ccz</string>
            <key>size</key>
            <string>{1107,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4642c5ba561832a7ec51e129edace9e:1/1$</string>
            <key>textureFileName</key>
            <string>hk_lobby_shop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
