<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP_beijing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>btn_caidan_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,1812},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>btn_caidan_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,1283},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,60}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>btn_cuxiao_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1735},{544,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,119}}</string>
                <key>sourceSize</key>
                <string>{544,119}</string>
            </dict>
            <key>btn_cuxiao_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1614},{544,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,119}}</string>
                <key>sourceSize</key>
                <string>{544,119}</string>
            </dict>
            <key>btn_fcconnect_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1681},{227,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,80}}</string>
                <key>sourceSize</key>
                <string>{227,80}</string>
            </dict>
            <key>btn_fcconnect_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1770},{227,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,80}}</string>
                <key>sourceSize</key>
                <string>{227,80}</string>
            </dict>
            <key>btn_gifts_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1735},{544,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,119}}</string>
                <key>sourceSize</key>
                <string>{544,119}</string>
            </dict>
            <key>btn_gifts_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{544,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,119}}</string>
                <key>sourceSize</key>
                <string>{544,119}</string>
            </dict>
            <key>btn_goback_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1091},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>btn_goback_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1155},{59,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,56}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>btn_jia_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,677},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>btn_jia_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1717},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>btn_tlater_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,953},{193,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,83}}</string>
                <key>sourceSize</key>
                <string>{193,83}</string>
            </dict>
            <key>btn_tlater_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1468},{187,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{187,81}}</string>
                <key>sourceSize</key>
                <string>{193,83}</string>
            </dict>
            <key>btn_xiaozhu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,1368},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>btn_xiaozhu_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,73},{70,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>caidan_xiala_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,605},{182,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,346}}</string>
                <key>sourceSize</key>
                <string>{182,346}</string>
            </dict>
            <key>caidan_xiala_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1221},{182,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,245}}</string>
                <key>sourceSize</key>
                <string>{182,245}</string>
            </dict>
            <key>candan_honour_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1856},{118,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{118,20}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>candan_honour_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1812},{166,64}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{166,64}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>candan_lobby_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1859},{94,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{94,20}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>candan_lobby_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,1617},{168,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{168,62}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>candan_message_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1859},{86,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,40},{86,20}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>candan_message_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,1221},{148,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{148,60}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>candan_setting_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1856},{116,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{116,20}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>candan_setting_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,1551},{166,64}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{166,64}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>dating_Piggy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1573},{280,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,51}}</string>
                <key>sourceSize</key>
                <string>{280,51}</string>
            </dict>
            <key>dating_beijing_1t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>dating_beijingtiao_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1806},{310,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,51}}</string>
                <key>sourceSize</key>
                <string>{310,51}</string>
            </dict>
            <key>dating_beijingtiao_jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1038},{191,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,51}}</string>
                <key>sourceSize</key>
                <string>{191,51}</string>
            </dict>
            <key>dating_beijingtiao_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{1136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,70}}</string>
                <key>sourceSize</key>
                <string>{1136,70}</string>
            </dict>
            <key>dating_beijingtiao_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1717},{267,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,51}}</string>
                <key>sourceSize</key>
                <string>{267,51}</string>
            </dict>
            <key>dating_caidan_ts.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1770},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>dating_deal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1856},{171,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,27}}</string>
                <key>sourceSize</key>
                <string>{171,27}</string>
            </dict>
            <key>dating_deal_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1439},{171,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,27}}</string>
                <key>sourceSize</key>
                <string>{171,27}</string>
            </dict>
            <key>dating_deal_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1856},{161,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{161,25}}</string>
                <key>sourceSize</key>
                <string>{171,27}</string>
            </dict>
            <key>dating_fb_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,141},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>dating_fb_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,204},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{55,55}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>dating_guanka_suo_tanchutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1763},{200,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{200,47}}</string>
                <key>sourceSize</key>
                <string>{204,47}</string>
            </dict>
            <key>dating_guanka_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,605},{237,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,484}}</string>
                <key>sourceSize</key>
                <string>{237,484}</string>
            </dict>
            <key>dating_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,720},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dating_jyt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1856},{286,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,24}}</string>
                <key>sourceSize</key>
                <string>{286,24}</string>
            </dict>
            <key>dating_jyt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,426},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>dating_jyt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1859},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>dating_jyt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1859},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>dating_jyt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1859},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>dating_jyt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,408},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>dating_jyt_jyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{214,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,29}}</string>
                <key>sourceSize</key>
                <string>{214,29}</string>
            </dict>
            <key>dating_jyt_tck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1616},{379,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,188}}</string>
                <key>sourceSize</key>
                <string>{379,188}</string>
            </dict>
            <key>dating_vip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1806},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>dating_vip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,359},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>dating_vip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,310},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>dating_vip_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,261},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>dating_vip_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1812},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>dating_vip_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1763},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>dating_xiaoshij_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,450},{467,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,153}}</string>
                <key>sourceSize</key>
                <string>{467,153}</string>
            </dict>
            <key>dating_xiaoshij_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1468},{247,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{249,103}</string>
            </dict>
            <key>dating_xiaoshij_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1626},{327,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,89}}</string>
                <key>sourceSize</key>
                <string>{327,89}</string>
            </dict>
            <key>dating_zhezhao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{380,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,768}}</string>
                <key>sourceSize</key>
                <string>{380,768}</string>
            </dict>
            <key>fabt_bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,2},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>xiao_jiantou_timebouns.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,1283},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>xiao_lucky wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1091},{362,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,128}}</string>
                <key>sourceSize</key>
                <string>{362,128}</string>
            </dict>
            <key>xiao_lunpan_timebouns.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1215},{400,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,399}}</string>
                <key>sourceSize</key>
                <string>{400,399}</string>
            </dict>
            <key>xiao_waiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{447,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,446}}</string>
                <key>sourceSize</key>
                <string>{447,446}</string>
            </dict>
            <key>xiao_zhizhen_timebouns.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,605},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>xiao_zhongjian_timebouns.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1221},{167,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,216}}</string>
                <key>sourceSize</key>
                <string>{167,216}</string>
            </dict>
            <key>xiao_zoumadeng_timebouns.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,772},{442,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,441}}</string>
                <key>sourceSize</key>
                <string>{442,441}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_lobby_ui.pvr.ccz</string>
            <key>size</key>
            <string>{2045,1887}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef07ec86fc3bb27ceb2d842368a60aec:1/1$</string>
            <key>textureFileName</key>
            <string>hk_lobby_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
