<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiazai_jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{687,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,308}}</string>
                <key>sourceSize</key>
                <string>{687,308}</string>
            </dict>
            <key>xiazai_jbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{473,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{473,27}}</string>
                <key>sourceSize</key>
                <string>{493,49}</string>
            </dict>
            <key>xiazai_jbt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{493,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,49}}</string>
                <key>sourceSize</key>
                <string>{493,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_loading_view.pvr.ccz</string>
            <key>size</key>
            <string>{691,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41097f745d99333562e16a498f6435c4:1/1$</string>
            <key>textureFileName</key>
            <string>hk_loading_view.pvr.ccz</string>
        </dict>
    </dict>
</plist>
