<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_collect_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{182,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,83}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>btn_collect_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,133},{176,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,81}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>btn_view_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{182,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,83}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>btn_view_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,133},{176,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{176,81}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>xiaoxi_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,133},{210,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,55}}</string>
                <key>sourceSize</key>
                <string>{210,55}</string>
            </dict>
            <key>xiaoxi_bj_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{929,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{929,4}}</string>
                <key>sourceSize</key>
                <string>{929,4}</string>
            </dict>
            <key>xiaoxi_bjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{890,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,123}}</string>
                <key>sourceSize</key>
                <string>{890,123}</string>
            </dict>
            <key>xiaoxi_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,133},{102,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{102,68}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>xiaoxi_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,87},{130,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,141}}</string>
                <key>sourceSize</key>
                <string>{130,141}</string>
            </dict>
            <key>xiaoxi_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,133},{88,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,69}}</string>
                <key>sourceSize</key>
                <string>{88,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_messages.pvr.ccz</string>
            <key>size</key>
            <string>{1080,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e43017f96735f99e6df28accceb8afeb:1/1$</string>
            <key>textureFileName</key>
            <string>hk_messages.pvr.ccz</string>
        </dict>
    </dict>
</plist>
