<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP_down_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,413},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>VIP_down_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,413},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>VIP_down_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,413},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>VIP_go_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,413},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>VIP_go_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,413},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>VIP_go_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,388},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>label_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,238},{136,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,116}}</string>
                <key>sourceSize</key>
                <string>{136,116}</string>
            </dict>
            <key>label_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,120},{136,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,116}}</string>
                <key>sourceSize</key>
                <string>{136,116}</string>
            </dict>
            <key>label_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{136,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,116}}</string>
                <key>sourceSize</key>
                <string>{136,116}</string>
            </dict>
            <key>label_platinum.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,388},{136,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,116}}</string>
                <key>sourceSize</key>
                <string>{136,116}</string>
            </dict>
            <key>label_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{136,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,116}}</string>
                <key>sourceSize</key>
                <string>{136,116}</string>
            </dict>
            <key>machine_comingsoon02_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,246},{218,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,220}}</string>
                <key>sourceSize</key>
                <string>{218,220}</string>
            </dict>
            <key>machine_comingsoon_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{246,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,409}}</string>
                <key>sourceSize</key>
                <string>{246,409}</string>
            </dict>
            <key>machine_egypt_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{224,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,238}}</string>
                <key>sourceSize</key>
                <string>{224,238}</string>
            </dict>
            <key>machine_flowerqueen_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{246,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,409}}</string>
                <key>sourceSize</key>
                <string>{246,409}</string>
            </dict>
            <key>machine_greek_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,246},{217,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,226}}</string>
                <key>sourceSize</key>
                <string>{217,226}</string>
            </dict>
            <key>machine_guanka_soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,356},{145,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,128}}</string>
                <key>sourceSize</key>
                <string>{145,128}</string>
            </dict>
            <key>machine_guanka_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,413},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>machine_guanka_xiazai.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,413},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>machine_icekingdom_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{226,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,240}}</string>
                <key>sourceSize</key>
                <string>{226,240}</string>
            </dict>
            <key>machine_magicbeans_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{246,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,409}}</string>
                <key>sourceSize</key>
                <string>{246,409}</string>
            </dict>
            <key>machine_maya_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,2},{225,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,242}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>machine_piratelegends_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,246},{218,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,220}}</string>
                <key>sourceSize</key>
                <string>{218,220}</string>
            </dict>
            <key>machine_wildwest_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,244},{216,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,234}}</string>
                <key>sourceSize</key>
                <string>{216,234}</string>
            </dict>
            <key>xiaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{393,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,384}}</string>
                <key>sourceSize</key>
                <string>{393,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_machine_icon.pvr.ccz</string>
            <key>size</key>
            <string>{1960,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb44430cfeec45f3eb65f6869a622c4e:1/1$</string>
            <key>textureFileName</key>
            <string>hk_machine_icon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
