<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_xx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,659},{200,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,178}}</string>
                <key>sourceSize</key>
                <string>{200,178}</string>
            </dict>
            <key>vip_xx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,659},{261,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,213}}</string>
                <key>sourceSize</key>
                <string>{261,213}</string>
            </dict>
            <key>vip_xx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{186,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,97}}</string>
                <key>sourceSize</key>
                <string>{186,97}</string>
            </dict>
            <key>vip_xx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,772},{147,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,72}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>vip_xxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,772},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>vipguanka_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{849,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{849,768}}</string>
                <key>sourceSize</key>
                <string>{849,768}</string>
            </dict>
            <key>vipguankatb.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{824,655}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{824,655}}</string>
                <key>sourceSize</key>
                <string>{824,655}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_vipMachine_unlock_view.pvr.ccz</string>
            <key>size</key>
            <string>{1679,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81e2b2d7266fae238e5aa9f24a6e2a6d:1/1$</string>
            <key>textureFileName</key>
            <string>hk_vipMachine_unlock_view.pvr.ccz</string>
        </dict>
    </dict>
</plist>
