<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viplevelup_board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{671,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,305}}</string>
                <key>sourceSize</key>
                <string>{671,305}</string>
            </dict>
            <key>viplevelup_board_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{791,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{791,432}}</string>
                <key>sourceSize</key>
                <string>{791,432}</string>
            </dict>
            <key>viplevelup_bronze_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,429},{394,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,91}}</string>
                <key>sourceSize</key>
                <string>{394,91}</string>
            </dict>
            <key>viplevelup_bronze_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{145,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,26}}</string>
                <key>sourceSize</key>
                <string>{145,26}</string>
            </dict>
            <key>viplevelup_diamond_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,429},{478,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,91}}</string>
                <key>sourceSize</key>
                <string>{478,91}</string>
            </dict>
            <key>viplevelup_diamond_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{160,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,26}}</string>
                <key>sourceSize</key>
                <string>{160,26}</string>
            </dict>
            <key>viplevelup_gold_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,190},{278,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,91}}</string>
                <key>sourceSize</key>
                <string>{278,91}</string>
            </dict>
            <key>viplevelup_gold_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,464},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>viplevelup_platinum_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,2},{500,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,89}}</string>
                <key>sourceSize</key>
                <string>{500,89}</string>
            </dict>
            <key>viplevelup_platinum_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{171,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,26}}</string>
                <key>sourceSize</key>
                <string>{171,26}</string>
            </dict>
            <key>viplevelup_silver_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,404},{320,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,92}}</string>
                <key>sourceSize</key>
                <string>{320,92}</string>
            </dict>
            <key>viplevelup_silver_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,492},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>viplevelup_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,309},{609,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,93}}</string>
                <key>sourceSize</key>
                <string>{609,93}</string>
            </dict>
            <key>viplevelup_title_Congratulations.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,93},{460,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,95}}</string>
                <key>sourceSize</key>
                <string>{460,95}</string>
            </dict>
            <key>viplevelup_title_viplevelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,309},{637,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,118}}</string>
                <key>sourceSize</key>
                <string>{637,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_viplevelup.pvr.ccz</string>
            <key>size</key>
            <string>{2045,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f9e8a5eb9bb9d003b3027ac1ac04d9d:1/1$</string>
            <key>textureFileName</key>
            <string>hk_viplevelup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
