<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,2},{214,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,104}}</string>
                <key>sourceSize</key>
                <string>{214,104}</string>
            </dict>
            <key>beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{685,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,355}}</string>
                <key>sourceSize</key>
                <string>{685,355}</string>
            </dict>
            <key>beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{887,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{887,508}}</string>
                <key>sourceSize</key>
                <string>{887,508}</string>
            </dict>
            <key>big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,218},{432,182}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,180},{432,182}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>liangdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,827},{579,177}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{579,177}}</string>
                <key>sourceSize</key>
                <string>{601,201}</string>
            </dict>
            <key>liangdeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{579,175}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{579,175}}</string>
                <key>sourceSize</key>
                <string>{601,201}</string>
            </dict>
            <key>mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{628,214}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,175},{628,214}}</string>
                <key>sourceSize</key>
                <string>{900,512}</string>
            </dict>
            <key>number_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,624},{601,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,201}}</string>
                <key>sourceSize</key>
                <string>{601,201}</string>
            </dict>
            <key>number_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,827},{601,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,201}}</string>
                <key>sourceSize</key>
                <string>{601,201}</string>
            </dict>
            <key>number_kuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,624},{601,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,201}}</string>
                <key>sourceSize</key>
                <string>{601,201}</string>
            </dict>
            <key>number_kuang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,421},{601,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,201}}</string>
                <key>sourceSize</key>
                <string>{601,201}</string>
            </dict>
            <key>number_kuang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,218},{601,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,201}}</string>
                <key>sourceSize</key>
                <string>{601,201}</string>
            </dict>
            <key>number_kuang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,421},{601,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,201}}</string>
                <key>sourceSize</key>
                <string>{601,201}</string>
            </dict>
            <key>number_kuang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,624},{601,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,201}}</string>
                <key>sourceSize</key>
                <string>{601,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_megawin.pvr.ccz</string>
            <key>size</key>
            <string>{1928,1046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a3b3a4ec9dc05b3b98ffea86dd5c10:1/1$</string>
            <key>textureFileName</key>
            <string>lobby_megawin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
