<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mega_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{714,350}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,67},{714,350}}</string>
                <key>sourceSize</key>
                <string>{900,512}</string>
            </dict>
            <key>mega_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,862},{680,354}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,65},{680,354}}</string>
                <key>sourceSize</key>
                <string>{900,512}</string>
            </dict>
            <key>mega_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1608},{688,354}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,64},{688,354}}</string>
                <key>sourceSize</key>
                <string>{900,512}</string>
            </dict>
            <key>mega_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1252},{692,354}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,64},{692,354}}</string>
                <key>sourceSize</key>
                <string>{900,512}</string>
            </dict>
            <key>mega_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{794,388}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,65},{794,388}}</string>
                <key>sourceSize</key>
                <string>{900,512}</string>
            </dict>
            <key>mega_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{826,388}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,65},{826,388}}</string>
                <key>sourceSize</key>
                <string>{900,512}</string>
            </dict>
            <key>mega_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{854,440}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,65},{854,440}}</string>
                <key>sourceSize</key>
                <string>{900,512}</string>
            </dict>
            <key>mega_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{876,416}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,88},{876,416}}</string>
                <key>sourceSize</key>
                <string>{900,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_frame2.pvr.ccz</string>
            <key>size</key>
            <string>{1512,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9aed6a40c974feb310d9dcfd4016df2:1/1$</string>
            <key>textureFileName</key>
            <string>lobby_frame2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
