<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0590_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{172,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>0590_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,340},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{172,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>0590_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,166},{172,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{172,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>0590_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,272},{172,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{172,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>0590_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{172,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>0590_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,386},{172,174}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{172,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>0590_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{172,174}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{172,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>0590_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,44},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{172,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>0590_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,272},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{172,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>0590_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,328},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{172,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>coin_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,102},{103,84}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{103,84}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>coin_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,340},{147,94}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{147,94}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>coin_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,446},{181,98}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{181,98}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>coin_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,446},{195,98}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{195,98}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>coin_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,458},{195,98}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{195,98}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>coin_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,450},{203,98}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{203,98}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>coin_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,2},{119,98}}</string>
                <key>offset</key>
                <string>{46,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,11},{119,98}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>coin_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,350},{79,92}}</string>
                <key>offset</key>
                <string>{66,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,17},{79,92}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>coin_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,176},{49,76}}</string>
                <key>offset</key>
                <string>{81,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,33},{49,76}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>coin_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,176},{25,50}}</string>
                <key>offset</key>
                <string>{93,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,59},{25,50}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>crystalball_magicwood.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,272},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>cuxiao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,482},{16,18}}</string>
                <key>offset</key>
                <string>{-264,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{16,18}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>cuxiao_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,218},{16,36}}</string>
                <key>offset</key>
                <string>{-264,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{16,36}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>cuxiao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,272},{20,54}}</string>
                <key>offset</key>
                <string>{-262,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{20,54}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>cuxiao_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,188},{30,70}}</string>
                <key>offset</key>
                <string>{-257,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{30,70}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>cuxiao_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,260},{42,80}}</string>
                <key>offset</key>
                <string>{-251,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{42,80}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>cuxiao_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,260},{58,76}}</string>
                <key>offset</key>
                <string>{-242,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{58,76}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>cuxiao_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,188},{82,70}}</string>
                <key>offset</key>
                <string>{-227,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{82,70}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>cuxiao_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,444},{134,62}}</string>
                <key>offset</key>
                <string>{-195,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{134,62}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>cuxiao_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{522,120}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{522,120}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>cuxiao_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,124},{508,120}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{508,120}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>gifts_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,246},{408,24}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,3},{408,24}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>gifts_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,2},{396,40}}</string>
                <key>offset</key>
                <string>{33,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,4},{396,40}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>gifts_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,246},{380,80}}</string>
                <key>offset</key>
                <string>{65,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,4},{380,80}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>gifts_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{354,120}}</string>
                <key>offset</key>
                <string>{95,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,4},{354,120}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>gifts_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,124},{312,120}}</string>
                <key>offset</key>
                <string>{116,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,4},{312,120}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>gifts_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,44},{270,120}}</string>
                <key>offset</key>
                <string>{137,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,4},{270,120}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>gifts_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,328},{228,120}}</string>
                <key>offset</key>
                <string>{158,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,4},{228,120}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>gifts_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,218},{188,120}}</string>
                <key>offset</key>
                <string>{178,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,4},{188,120}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>gifts_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,350},{146,120}}</string>
                <key>offset</key>
                <string>{199,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,4},{146,120}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>gifts_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,436},{104,118}}</string>
                <key>offset</key>
                <string>{220,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,6},{104,118}}</string>
                <key>sourceSize</key>
                <string>{544,128}</string>
            </dict>
            <key>pig_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,450},{26,30}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{26,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pig_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,198},{30,30}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{30,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pig_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,166},{34,30}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{34,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pig_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,514},{44,46}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{44,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pig_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,338},{52,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pig_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,124},{54,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{54,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pig_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,342},{50,52}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pig_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,514},{46,46}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pig_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,2},{32,40}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{32,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pig_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,396},{28,36}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{28,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>portaleffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{349,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,382}}</string>
                <key>sourceSize</key>
                <string>{349,382}</string>
            </dict>
            <key>saoguang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,386},{1,1}}</string>
                <key>offset</key>
                <string>{-38.5,38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>saoguang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,514},{58,46}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{58,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>saoguang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,388},{50,52}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{50,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>saoguang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,502},{60,52}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{60,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>saoguang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,502},{66,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{66,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>saoguang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,508},{66,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{66,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>saoguang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,508},{66,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{66,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>saoguang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,508},{66,52}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{66,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>saoguang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,502},{58,52}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{58,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>saoguang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,166},{32,50}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{32,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>text_themagicwood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,472},{142,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,54}}</string>
                <key>sourceSize</key>
                <string>{142,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_frame7.pvr.ccz</string>
            <key>size</key>
            <string>{1974,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7d6fbd1efa10469339cec8ea7049a2e:1/1$</string>
            <key>textureFileName</key>
            <string>lobby_frame7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
