<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,886},{218,340}}</string>
                <key>offset</key>
                <string>{-155,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,52},{218,340}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1228},{216,274}}</string>
                <key>offset</key>
                <string>{-152,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,118},{216,274}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,624},{234,260}}</string>
                <key>offset</key>
                <string>{-141,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,131},{234,260}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,280},{314,342}}</string>
                <key>offset</key>
                <string>{-101,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,49},{314,342}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{322,276}}</string>
                <key>offset</key>
                <string>{-98,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,115},{322,276}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1570},{464,344}}</string>
                <key>offset</key>
                <string>{-25,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,46},{464,344}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{526,344}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,46},{526,344}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{520,344}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,46},{520,344}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{656,392}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{656,392}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{656,392}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{656,392}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{656,432}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{656,432}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_frame5.pvr.ccz</string>
            <key>size</key>
            <string>{990,1916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f514dfee6fbcace54a0490f970c75cee:1/1$</string>
            <key>textureFileName</key>
            <string>lobby_frame5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
