<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,932},{656,416}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{656,416}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{656,416}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{656,416}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{656,364}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,116},{656,364}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,560},{656,382}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{656,382}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,548},{656,382}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{656,382}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,244},{498,314}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,119},{498,314}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,242},{488,302}}</string>
                <key>offset</key>
                <string>{13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{488,302}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,244},{482,302}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,80},{482,302}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{470,256}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,122},{470,256}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2},{468,240}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,126},{468,240}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{464,238}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,126},{464,238}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{464,236}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,127},{464,236}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
            <key>big_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,232}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,130},{454,232}}</string>
                <key>sourceSize</key>
                <string>{656,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_frame6.pvr.ccz</string>
            <key>size</key>
            <string>{1976,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36476d65acf9d8b32642bccf09eafba9:1/1$</string>
            <key>textureFileName</key>
            <string>lobby_frame6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
