<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_pback_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{308,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,89}}</string>
                <key>sourceSize</key>
                <string>{308,89}</string>
            </dict>
            <key>btn_pback_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,89}}</string>
                <key>sourceSize</key>
                <string>{308,89}</string>
            </dict>
            <key>btn_pnest_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>btn_pnest_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>btn_pprevious_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>btn_pprevious_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_images_ui2.pvr.ccz</string>
            <key>size</key>
            <string>{914,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0f8d5ebf3b6162cfaf40302c8437126:1/1$</string>
            <key>textureFileName</key>
            <string>lobby_images_ui2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
