<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{150,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,117}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>expbar_FlowerQueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{150,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,117}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>expbar_FourLeafClover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{139,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,141}}</string>
                <key>sourceSize</key>
                <string>{139,141}</string>
            </dict>
            <key>expbar_wildwizard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1419},{134,134}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{134,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>scatter_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{150,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,117}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>symbol10_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1555},{126,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{126,109}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>symbol1_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{150,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,117}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>symbol2_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{150,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,117}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>symbol3_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{150,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{150,103}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>symbol4_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{148,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{148,115}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>symbol5_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1173},{148,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{148,101}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>symbol6_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1775},{102,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{102,107}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>symbol7_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1884},{88,109}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{88,109}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>symbol8_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{106,107}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>symbol9_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1884},{62,103}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{62,103}}</string>
                <key>sourceSize</key>
                <string>{140,109}</string>
            </dict>
            <key>wild_flowerqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,352}}</string>
                <key>sourceSize</key>
                <string>{150,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_flowerqueen_images_symbols.pvr.ccz</string>
            <key>size</key>
            <string>{156,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f47848bd4c123266bb6d7d56521e3f7:1/1$</string>
            <key>textureFileName</key>
            <string>slots_flowerqueen_images_symbols.pvr.ccz</string>
        </dict>
    </dict>
</plist>
