<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bonus_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>coinsbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,88},{113,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{113,94}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>gaint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,184},{101,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{101,106}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>goldbean.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{117,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{117,84}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_magicbeans_images_bonus.pvr.ccz</string>
            <key>size</key>
            <string>{1259,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f52c1c77aa1afef2a540c7b2d8fb703a:1/1$</string>
            <key>textureFileName</key>
            <string>slots_magicbeans_images_bonus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
