<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slots_background_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>slots_frame_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1095,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1095,604}}</string>
                <key>sourceSize</key>
                <string>{1095,604}</string>
            </dict>
            <key>slots_symbolframe_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{820,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,488}}</string>
                <key>sourceSize</key>
                <string>{820,488}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_magicbeans_images_machine.pvr.ccz</string>
            <key>size</key>
            <string>{1140,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69c5a17a4f4424363b223502720cf36d:1/1$</string>
            <key>textureFileName</key>
            <string>slots_magicbeans_images_machine.pvr.ccz</string>
        </dict>
    </dict>
</plist>
