<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,437},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>0a_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,437},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>1_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,402},{15,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{15,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>1a_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,366},{15,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{15,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>2_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,402},{27,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>2a_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,370},{27,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>3_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,440},{21,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>3a_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,366},{21,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>4_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,401},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>4a_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,401},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>5_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,332},{25,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,32}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>5a_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,298},{25,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,32}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>6_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,365},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>6a_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,365},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>7_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,438},{27,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{27,32}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>7a_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,406},{27,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{27,32}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>8_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,334},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>8a_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,298},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>9_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,473},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>9a_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,473},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>bg_bonus_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>biggo_d_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,366},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>biggo_n_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,365},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>biggo_s_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,446},{97,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{97,99}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>boat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,366},{99,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,78}}</string>
                <key>sourceSize</key>
                <string>{99,78}</string>
            </dict>
            <key>down_1_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,298},{115,66}}</string>
                <key>offset</key>
                <string>{1,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,205},{115,66}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>icon_10_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,678},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>icon_11_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,685},{85,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>icon_12_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,2},{194,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,89}}</string>
                <key>sourceSize</key>
                <string>{194,89}</string>
            </dict>
            <key>icon_1_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,93},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>icon_2_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,173},{57,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,93}}</string>
                <key>sourceSize</key>
                <string>{57,93}</string>
            </dict>
            <key>icon_3_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,163},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>icon_4_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,580},{86,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,89}}</string>
                <key>sourceSize</key>
                <string>{86,89}</string>
            </dict>
            <key>icon_5_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,2},{70,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>icon_6_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,337},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>icon_7_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,678},{79,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,91}}</string>
                <key>sourceSize</key>
                <string>{79,91}</string>
            </dict>
            <key>icon_8_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,87},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>icon_9_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,268},{55,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,95}}</string>
                <key>sourceSize</key>
                <string>{55,95}</string>
            </dict>
            <key>left_2_egypt..png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,581},{89,102}}</string>
                <key>offset</key>
                <string>{-79,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,150},{89,102}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>left_3_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,522},{87,100}}</string>
                <key>offset</key>
                <string>{-79,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{87,100}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>reel_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{289,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,294}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>right_2_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,576},{87,100}}</string>
                <key>offset</key>
                <string>{80,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,42},{87,100}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>right_3_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,624},{85,100}}</string>
                <key>offset</key>
                <string>{81,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,149},{85,100}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_1_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,161},{117,66}}</string>
                <key>offset</key>
                <string>{-1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,22},{117,66}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_2_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,649},{87,100}}</string>
                <key>offset</key>
                <string>{80,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,42},{87,100}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_3_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,624},{85,100}}</string>
                <key>offset</key>
                <string>{81,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,149},{85,100}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_4_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,297},{115,66}}</string>
                <key>offset</key>
                <string>{1,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,205},{115,66}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_5_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,477},{89,102}}</string>
                <key>offset</key>
                <string>{-79,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,150},{89,102}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_6_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,418},{89,102}}</string>
                <key>offset</key>
                <string>{-80,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{89,102}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_w_1_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,298},{113,66}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,23},{113,66}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_w_2_egyp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,476},{89,98}}</string>
                <key>offset</key>
                <string>{80,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,42},{89,98}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_w_3_egyp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,476},{87,102}}</string>
                <key>offset</key>
                <string>{80,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,150},{87,102}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_w_4_egyp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,229},{115,66}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,205},{115,66}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_w_5_egyp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,233},{87,102}}</string>
                <key>offset</key>
                <string>{-80,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,150},{87,102}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>stop_w_6_egyp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,547},{87,100}}</string>
                <key>offset</key>
                <string>{-78,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,41},{87,100}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
            <key>up_1_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,93},{117,66}}</string>
                <key>offset</key>
                <string>{-1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,22},{117,66}}</string>
                <key>sourceSize</key>
                <string>{289,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_egypt_images_bonus.pvr.ccz</string>
            <key>size</key>
            <string>{1699,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9519b5b2076ee28778498109d1e0f512:1/1$</string>
            <key>textureFileName</key>
            <string>slots_egypt_images_bonus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
