<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dadian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{100,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{100,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>dadian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{98,212}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{98,212}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>dadian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,256},{96,222}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{96,222}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>dadian_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{96,252}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{96,252}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>dadian_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{104,232}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{104,232}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>shandian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,686},{4,4}}</string>
                <key>offset</key>
                <string>{9,-194}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,542},{4,4}}</string>
                <key>sourceSize</key>
                <string>{356,700}</string>
            </dict>
            <key>shandian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{356,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,700}}</string>
                <key>sourceSize</key>
                <string>{356,700}</string>
            </dict>
            <key>shandian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,700}}</string>
                <key>sourceSize</key>
                <string>{356,700}</string>
            </dict>
            <key>shandian_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{356,342}}</string>
                <key>offset</key>
                <string>{0,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,358},{356,342}}</string>
                <key>sourceSize</key>
                <string>{356,700}</string>
            </dict>
            <key>shandian_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,346},{352,338}}</string>
                <key>offset</key>
                <string>{0,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,362},{352,338}}</string>
                <key>sourceSize</key>
                <string>{356,700}</string>
            </dict>
            <key>shandian_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,346},{334,330}}</string>
                <key>offset</key>
                <string>{0,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,366},{334,330}}</string>
                <key>sourceSize</key>
                <string>{356,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_greek_frame.pvr.ccz</string>
            <key>size</key>
            <string>{1506,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ec53cdcbd3aeba26cdd7ae66f057226:1/1$</string>
            <key>textureFileName</key>
            <string>slots_greek_frame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
