<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_estrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1136,678}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{1136,678}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>bg_greekbonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>bg_zeus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,604},{352,363}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{352,363}}</string>
                <key>sourceSize</key>
                <string>{354,365}</string>
            </dict>
            <key>bonuscoinsicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1167},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,969},{132,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,196}}</string>
                <key>sourceSize</key>
                <string>{132,196}</string>
            </dict>
            <key>pillar_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{130,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,600}}</string>
                <key>sourceSize</key>
                <string>{130,600}</string>
            </dict>
            <key>round1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1250},{49,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,99}}</string>
                <key>sourceSize</key>
                <string>{49,99}</string>
            </dict>
            <key>round1status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,116},{168,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,210}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>round2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1250},{49,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,99}}</string>
                <key>sourceSize</key>
                <string>{49,99}</string>
            </dict>
            <key>round2status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1192},{168,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,189}}</string>
                <key>sourceSize</key>
                <string>{168,189}</string>
            </dict>
            <key>round3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,317},{49,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,98}}</string>
                <key>sourceSize</key>
                <string>{49,98}</string>
            </dict>
            <key>round3status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,328},{168,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,206}}</string>
                <key>sourceSize</key>
                <string>{168,206}</string>
            </dict>
            <key>round4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,116},{49,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,99}}</string>
                <key>sourceSize</key>
                <string>{49,99}</string>
            </dict>
            <key>round4status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1167},{168,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,187}}</string>
                <key>sourceSize</key>
                <string>{168,187}</string>
            </dict>
            <key>round5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,217},{49,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,98}}</string>
                <key>sourceSize</key>
                <string>{49,98}</string>
            </dict>
            <key>round5status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1192},{168,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,211}}</string>
                <key>sourceSize</key>
                <string>{168,211}</string>
            </dict>
            <key>shandian1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,536},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,317.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,636}</string>
            </dict>
            <key>shandian1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,604},{214,586}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{214,586}}</string>
                <key>sourceSize</key>
                <string>{256,636}</string>
            </dict>
            <key>shandian1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{240,600}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{240,600}}</string>
                <key>sourceSize</key>
                <string>{256,636}</string>
            </dict>
            <key>shandian1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,969},{240,190}}</string>
                <key>offset</key>
                <string>{3,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,412},{240,190}}</string>
                <key>sourceSize</key>
                <string>{256,636}</string>
            </dict>
            <key>shandian1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{236,112}}</string>
                <key>offset</key>
                <string>{3,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,452},{236,112}}</string>
                <key>sourceSize</key>
                <string>{256,636}</string>
            </dict>
            <key>totalwinbar_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1405},{199,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,35}}</string>
                <key>sourceSize</key>
                <string>{199,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_greek_images_bonus.pvr.ccz</string>
            <key>size</key>
            <string>{1752,1452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e02898016453f85072d9eece5eb447d:1/1$</string>
            <key>textureFileName</key>
            <string>slots_greek_images_bonus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
