<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>scatter_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{150,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>symbol10_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{140,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,142}}</string>
                <key>sourceSize</key>
                <string>{140,142}</string>
            </dict>
            <key>symbol1_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{141,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,143}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>symbol2_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{141,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,147}}</string>
                <key>sourceSize</key>
                <string>{141,147}</string>
            </dict>
            <key>symbol3_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>symbol4_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>symbol5_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{141,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,146}}</string>
                <key>sourceSize</key>
                <string>{141,146}</string>
            </dict>
            <key>symbol6_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,2},{120,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,137}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>symbol7_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,2},{124,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,139}}</string>
                <key>sourceSize</key>
                <string>{124,139}</string>
            </dict>
            <key>symbol8_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,2},{149,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,115}}</string>
                <key>sourceSize</key>
                <string>{149,115}</string>
            </dict>
            <key>symbol9_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>wild_greek.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{150,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_greek_images_symbols.pvr.ccz</string>
            <key>size</key>
            <string>{1860,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922917d10d254d7cd46113461c4d04b1:1/1$</string>
            <key>textureFileName</key>
            <string>slots_greek_images_symbols.pvr.ccz</string>
        </dict>
    </dict>
</plist>
