<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1103,703}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1103,703}}</string>
                <key>sourceSize</key>
                <string>{1103,703}</string>
            </dict>
            <key>btn_vip_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,707},{305,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,72}}</string>
                <key>sourceSize</key>
                <string>{305,72}</string>
            </dict>
            <key>btn_vip_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,707},{303,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{303,72}}</string>
                <key>sourceSize</key>
                <string>{305,72}</string>
            </dict>
            <key>btn_vip_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,718},{291,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{291,70}}</string>
                <key>sourceSize</key>
                <string>{305,72}</string>
            </dict>
            <key>vip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,582},{124,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>vip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,677},{123,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,93}}</string>
                <key>sourceSize</key>
                <string>{123,93}</string>
            </dict>
            <key>vip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,487},{124,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>vip_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,487},{124,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>vip_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,392},{124,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>vip_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,653},{124,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>vip_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,2},{925,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{925,362}}</string>
                <key>sourceSize</key>
                <string>{925,362}</string>
            </dict>
            <key>vip_ditu_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,392},{170,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,259}}</string>
                <key>sourceSize</key>
                <string>{170,259}</string>
            </dict>
            <key>vip_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,392},{175,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,324}}</string>
                <key>sourceSize</key>
                <string>{175,324}</string>
            </dict>
            <key>vip_jindutiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,707},{280,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,85}}</string>
                <key>sourceSize</key>
                <string>{280,85}</string>
            </dict>
            <key>vip_jindutiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{280,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,85}}</string>
                <key>sourceSize</key>
                <string>{280,85}</string>
            </dict>
            <key>vip_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,392},{205,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,356}}</string>
                <key>sourceSize</key>
                <string>{205,356}</string>
            </dict>
            <key>vip_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,366},{857,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{857,24}}</string>
                <key>sourceSize</key>
                <string>{857,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_lobby_vip.pvr.ccz</string>
            <key>size</key>
            <string>{2037,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31105f95c44f17dc816e0f194284ce78:1/1$</string>
            <key>textureFileName</key>
            <string>hk_lobby_vip.pvr.ccz</string>
        </dict>
    </dict>
</plist>
