<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luckwheelwon_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{626,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,532}}</string>
                <key>sourceSize</key>
                <string>{626,532}</string>
            </dict>
            <key>luckwheelwon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{599,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,241}}</string>
                <key>sourceSize</key>
                <string>{599,241}</string>
            </dict>
            <key>luckwheelwon_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>luckwheelwon_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,648},{358,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,51}}</string>
                <key>sourceSize</key>
                <string>{358,51}</string>
            </dict>
            <key>luckwheelwon_youwon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{600,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,84}}</string>
                <key>sourceSize</key>
                <string>{600,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_luckwheelwon.pvr.ccz</string>
            <key>size</key>
            <string>{963,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48de10ea4458a2625b45927d7b79de01:1/1$</string>
            <key>textureFileName</key>
            <string>hk_luckwheelwon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
