<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelup_board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{431,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,414}}</string>
                <key>sourceSize</key>
                <string>{431,414}</string>
            </dict>
            <key>levelup_board_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{415,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,142}}</string>
                <key>sourceSize</key>
                <string>{415,142}</string>
            </dict>
            <key>levelup_title_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,244},{262,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,73}}</string>
                <key>sourceSize</key>
                <string>{262,73}</string>
            </dict>
            <key>levelup_title_levelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,146},{407,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,96}}</string>
                <key>sourceSize</key>
                <string>{407,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_levelup.pvr.ccz</string>
            <key>size</key>
            <string>{852,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dffa09e96ee02ea2fada9bc355c3340b:1/1$</string>
            <key>textureFileName</key>
            <string>hk_levelup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
