<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_pig_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1300},{406,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,93}}</string>
                <key>sourceSize</key>
                <string>{406,93}</string>
            </dict>
            <key>btn_pig_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1048},{406,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,93}}</string>
                <key>sourceSize</key>
                <string>{406,93}</string>
            </dict>
            <key>pig_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1365},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>pig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{744,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,598}}</string>
                <key>sourceSize</key>
                <string>{744,598}</string>
            </dict>
            <key>pig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1143},{355,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,155}}</string>
                <key>sourceSize</key>
                <string>{355,155}</string>
            </dict>
            <key>pig_chuizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,912},{93,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,123}}</string>
                <key>sourceSize</key>
                <string>{93,123}</string>
            </dict>
            <key>pig_crack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1048},{581,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,368}}</string>
                <key>sourceSize</key>
                <string>{581,368}</string>
            </dict>
            <key>pig_crack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,381},{815,665}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{815,665}}</string>
                <key>sourceSize</key>
                <string>{815,665}</string>
            </dict>
            <key>pig_crack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{890,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,377}}</string>
                <key>sourceSize</key>
                <string>{890,377}</string>
            </dict>
            <key>pig_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1052,761}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1052,761}}</string>
                <key>sourceSize</key>
                <string>{1052,761}</string>
            </dict>
            <key>pig_shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,765},{235,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,145}}</string>
                <key>sourceSize</key>
                <string>{235,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_pig.pvr.ccz</string>
            <key>size</key>
            <string>{1948,1418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ba276295f05b718f0ad18e6889aeaa8:1/1$</string>
            <key>textureFileName</key>
            <string>hk_pig.pvr.ccz</string>
        </dict>
    </dict>
</plist>
