<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_szconnect_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,103},{332,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,99}}</string>
                <key>sourceSize</key>
                <string>{332,99}</string>
            </dict>
            <key>btn_szconnect_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,2},{332,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,99}}</string>
                <key>sourceSize</key>
                <string>{332,99}</string>
            </dict>
            <key>btn_szgo_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,2},{182,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,83}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>btn_szoff_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,150},{180,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>btn_szog_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,87},{176,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,81}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>btn_szon_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>btn_szout_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,103},{332,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,99}}</string>
                <key>sourceSize</key>
                <string>{332,99}</string>
            </dict>
            <key>btn_szout_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{332,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,99}}</string>
                <key>sourceSize</key>
                <string>{332,99}</string>
            </dict>
            <key>shezhi_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,150},{360,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,60}}</string>
                <key>sourceSize</key>
                <string>{360,60}</string>
            </dict>
            <key>shezhi_bj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{915,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{915,146}}</string>
                <key>sourceSize</key>
                <string>{915,146}</string>
            </dict>
            <key>shezhi_bj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,212},{913,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{913,3}}</string>
                <key>sourceSize</key>
                <string>{913,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_settings.pvr.ccz</string>
            <key>size</key>
            <string>{1771,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:132b8e30965fcfe58a8e8c2cb2d56a23:1/1$</string>
            <key>textureFileName</key>
            <string>hk_settings.pvr.ccz</string>
        </dict>
    </dict>
</plist>
