<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Facebook-touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,324},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bouns won_tb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,426},{294,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,44}}</string>
                <key>sourceSize</key>
                <string>{294,44}</string>
            </dict>
            <key>bouns_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,193},{386,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,49}}</string>
                <key>sourceSize</key>
                <string>{386,49}</string>
            </dict>
            <key>bouns_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,202},{406,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,60}}</string>
                <key>sourceSize</key>
                <string>{406,60}</string>
            </dict>
            <key>dw_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,283}}</string>
                <key>sourceSize</key>
                <string>{598,283}</string>
            </dict>
            <key>fatb_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,375},{319,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,49}}</string>
                <key>sourceSize</key>
                <string>{319,49}</string>
            </dict>
            <key>free spin won.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,244},{383,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,44}}</string>
                <key>sourceSize</key>
                <string>{383,44}</string>
            </dict>
            <key>jinbi_jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,91},{205,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,103}}</string>
                <key>sourceSize</key>
                <string>{205,103}</string>
            </dict>
            <key>jinbibz_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,324},{490,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,49}}</string>
                <key>sourceSize</key>
                <string>{490,49}</string>
            </dict>
            <key>lucky wheel_tb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,91},{415,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,49}}</string>
                <key>sourceSize</key>
                <string>{415,49}</string>
            </dict>
            <key>paytable_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,264},{374,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,58}}</string>
                <key>sourceSize</key>
                <string>{374,58}</string>
            </dict>
            <key>pingjia_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,375},{352,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,49}}</string>
                <key>sourceSize</key>
                <string>{352,49}</string>
            </dict>
            <key>pingjia_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{202,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,198}}</string>
                <key>sourceSize</key>
                <string>{202,198}</string>
            </dict>
            <key>pingjia_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,426},{326,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,35}}</string>
                <key>sourceSize</key>
                <string>{326,35}</string>
            </dict>
            <key>tb_xiaotiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{653,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{653,4}}</string>
                <key>sourceSize</key>
                <string>{653,4}</string>
            </dict>
            <key>vip_extracoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,142},{390,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,49}}</string>
                <key>sourceSize</key>
                <string>{390,49}</string>
            </dict>
            <key>vipbz_tanbanwz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{609,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,170}}</string>
                <key>sourceSize</key>
                <string>{609,170}</string>
            </dict>
            <key>vipbz_tiaozhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{654,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,87}}</string>
                <key>sourceSize</key>
                <string>{654,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hk_view_common_ui.pvr.ccz</string>
            <key>size</key>
            <string>{1462,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2acfa51493d98704659969536307a6b:1/1$</string>
            <key>textureFileName</key>
            <string>hk_view_common_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
