<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,222},{228,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,96}}</string>
                <key>sourceSize</key>
                <string>{228,96}</string>
            </dict>
            <key>Loading_heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,320},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btn_loading_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,112},{264,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,108}}</string>
                <key>sourceSize</key>
                <string>{264,108}</string>
            </dict>
            <key>btn_loadingconnect_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1768},{372,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,138}}</string>
                <key>sourceSize</key>
                <string>{372,138}</string>
            </dict>
            <key>btn_loadingconnect_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1628},{372,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,138}}</string>
                <key>sourceSize</key>
                <string>{372,138}</string>
            </dict>
            <key>btn_playasaguest_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{264,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,108}}</string>
                <key>sourceSize</key>
                <string>{264,108}</string>
            </dict>
            <key>btn_playasaguest_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,320},{225,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,70}}</string>
                <key>sourceSize</key>
                <string>{225,70}</string>
            </dict>
            <key>btn_retry_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,477},{208,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,83}}</string>
                <key>sourceSize</key>
                <string>{208,83}</string>
            </dict>
            <key>btn_retry_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,392},{208,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,83}}</string>
                <key>sourceSize</key>
                <string>{208,83}</string>
            </dict>
            <key>btn_retry_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,562},{204,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,83}}</string>
                <key>sourceSize</key>
                <string>{208,83}</string>
            </dict>
            <key>dw_le.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1628},{535,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,283}}</string>
                <key>sourceSize</key>
                <string>{535,283}</string>
            </dict>
            <key>loadin.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1913},{602,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,80}}</string>
                <key>sourceSize</key>
                <string>{602,80}</string>
            </dict>
            <key>loadin_trame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1963},{553,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,28}}</string>
                <key>sourceSize</key>
                <string>{553,28}</string>
            </dict>
            <key>loading_neiye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>loading_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1542},{729,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{729,84}}</string>
                <key>sourceSize</key>
                <string>{729,84}</string>
            </dict>
            <key>login_pg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{494,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,419}}</string>
                <key>sourceSize</key>
                <string>{494,419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landing.pvr.ccz</string>
            <key>size</key>
            <string>{1409,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adc6885685fa9e327feae932ad9f3e60:1/1$</string>
            <key>textureFileName</key>
            <string>landing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
