<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scatter_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>symbol10_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,443},{103,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,142}}</string>
                <key>sourceSize</key>
                <string>{103,142}</string>
            </dict>
            <key>symbol11_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,304},{89,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,137}}</string>
                <key>sourceSize</key>
                <string>{89,137}</string>
            </dict>
            <key>symbol12_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{139,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,128}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>symbol1_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,156}}</string>
                <key>sourceSize</key>
                <string>{167,156}</string>
            </dict>
            <key>symbol2_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{139,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{139,153}}</string>
                <key>sourceSize</key>
                <string>{139,155}</string>
            </dict>
            <key>symbol3_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{137,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,144}}</string>
                <key>sourceSize</key>
                <string>{137,144}</string>
            </dict>
            <key>symbol5_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,160},{91,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,142}}</string>
                <key>sourceSize</key>
                <string>{91,142}</string>
            </dict>
            <key>symbol8_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,737},{106,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,135}}</string>
                <key>sourceSize</key>
                <string>{106,135}</string>
            </dict>
            <key>symbol9_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,587},{100,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,141}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>wild_maya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{135,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,142}}</string>
                <key>sourceSize</key>
                <string>{135,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_maya_images_symbols.pvr.ccz</string>
            <key>size</key>
            <string>{248,881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:200bfb3cd36fa13a4b828106131f9e97:1/1$</string>
            <key>textureFileName</key>
            <string>slots_maya_images_symbols.pvr.ccz</string>
        </dict>
    </dict>
</plist>
