<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bandit_bonus_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,482},{135,143}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{135,143}}</string>
                <key>sourceSize</key>
                <string>{143,165}</string>
            </dict>
            <key>bg_frame_bonus_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,768}}</string>
                <key>sourceSize</key>
                <string>{1136,768}</string>
            </dict>
            <key>bonuscoinsicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,720},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>citizen_bonus_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,452},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{142,150}</string>
            </dict>
            <key>huoyan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,260},{172,190}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,66},{172,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>huoyan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,627},{206,208}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,48},{206,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>huoyan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,498},{228,220}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{228,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>huoyan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,516},{250,250}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{250,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>huoyan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>huoyan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>huoyan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>huoyan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,260},{248,254}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{248,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>huoyan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,260},{224,236}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{224,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>huoyan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,260},{162,220}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{162,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>textbar_bonus_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1136,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,65}}</string>
                <key>sourceSize</key>
                <string>{1136,65}</string>
            </dict>
            <key>wantedposter_bonus_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,604},{103,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{103,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_wildwest_images_bonus.pvr.ccz</string>
            <key>size</key>
            <string>{1965,839}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5465f9d316b9e671457cfa8003700d9:1/1$</string>
            <key>textureFileName</key>
            <string>slots_wildwest_images_bonus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
