<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bonus_magicbeans_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,894},{68,94}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,126},{68,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{250,222}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{250,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,518},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,260},{246,238}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{246,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{226,212}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{226,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,214},{190,196}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{190,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,824},{172,162}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{172,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_bonus_magicbeans_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,824},{172,146}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{172,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,208},{84,102}}</string>
                <key>offset</key>
                <string>{-9,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,119},{84,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,384},{124,142}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,82},{124,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,214},{176,170}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,54},{176,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,638},{192,184}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,43},{192,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,632},{198,190}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,39},{198,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,432},{202,198}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{202,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,226},{206,204}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{206,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,776},{214,212}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{214,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,776},{210,206}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{210,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{212,208}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{212,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{214,210}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{214,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{218,214}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{218,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,500},{220,216}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{220,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{212,210}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{212,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,226},{198,206}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{198,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,218},{196,198}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{196,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,434},{198,202}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{198,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,810},{154,166}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,49},{154,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bonus_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,146},{100,60}}</string>
                <key>offset</key>
                <string>{-18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,66},{100,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicbeans_wild_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{144,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{144,142}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,558},{168,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{168,170}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,590},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{170,170}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,762},{170,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,170}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,590},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{170,170}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,418},{170,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{170,170}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,418},{170,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{170,170}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,556},{170,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{170,168}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,386},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{170,170}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,638},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{170,170}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,762},{168,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{168,170}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,212},{168,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{168,170}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,386},{170,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{170,168}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,730},{170,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{170,168}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,726},{168,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{168,166}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>magicbeans_wild_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,824},{168,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{168,164}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_magicbeans_frame.pvr.ccz</string>
            <key>size</key>
            <string>{2044,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a85ca8ba9e1e39ba088ba6971ed69d2:1/1$</string>
            <key>textureFileName</key>
            <string>slots_magicbeans_frame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
