<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{144,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{144,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>scatter_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>specialsymbolframe_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{144,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{144,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>symbol10_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{130,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{130,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>symbol1_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{130,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{130,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>symbol2_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{136,130}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{136,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>symbol3_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{128,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>symbol4_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{120,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>symbol5_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{136,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{136,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>symbol6_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{130,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>symbol7_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2},{116,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{116,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>symbol8_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{118,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>symbol9_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{112,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{112,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wild1_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wild2_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wildnumberframe_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,122},{34,40}}</string>
                <key>offset</key>
                <string>{54,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,4},{34,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wildtext_magicbeans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,122},{126,40}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,103},{126,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slots_magicbeans_images_symbols.pvr.ccz</string>
            <key>size</key>
            <string>{1978,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:291ce7e53fafddb94c6a2e2a5309dab1:1/1$</string>
            <key>textureFileName</key>
            <string>slots_magicbeans_images_symbols.pvr.ccz</string>
        </dict>
    </dict>
</plist>
